@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DoctiConsult</h1>
    <h2 class="display-4">Site de gestion de consultations médical</h2>
</div>
